body {
  font-family: monospace;
}
ul {
    font-family: Arial, Helvetica, sans-serif
}
li {
    list-style: circle;
}
.list {
    list-style : square;
}
#msg {
    font-family: monospace;
}
.light-theme {
    color: #000000;
    background: #00FF00;
}
:root {
--green: #0f0;
--white: #ffffff;
--black: #000000;
}
.light-theme {
    --bg: var(--black);
    --fontcolor: var(--black);
}
.dark-theme {
    --bg: var(--black)
    --fontcolor
}